target/
*.pdb
*.ilk
*.obj
*.lib
*.dll
*.exe
*.run
*.idx
*.ttd
*.run.err
.ttd-symbol-cache/
traces/**/*.out
native/**/packages/
native/**/x64/
native/**/x86/
native/**/ARM64/
native/**/.vs/
scripts/TTDDownload/
